//Caching schema
//<FilesMatch "\.(jpg|png|gif)$">
//Header set Cache-Control "max-age=0"
//</FilesMatch>

//Custom 400 errors
//ErrorDocument 400 mde3\periode1\web\opdrachtseo\404.html

//Custom 500 errors
//ErrorDocument 500 mde3\periode1\web\opdrachtseo\500.html

//Change default directory page
//DirectoryIndex index.html
 